@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background: #020617;
      background-image:
        radial-gradient(ellipse at 20% 30%, rgba(56, 189, 248, 0.4) 0%, transparent 60%),
        radial-gradient(ellipse at 80% 70%, rgba(139, 92, 246, 0.3) 0%, transparent 70%),
        radial-gradient(ellipse at 60% 20%, rgba(236, 72, 153, 0.25) 0%, transparent 50%),
        radial-gradient(ellipse at 40% 80%, rgba(34, 197, 94, 0.2) 0%, transparent 65%);
    height: 100vh;
    }
    
.box{
    width:90%;
    max-width: 500px;
    background-color: rgba(255, 255, 255,0.3);
    border-radius: 20px;
    margin: 70px auto;
    text-align: center;
}
.search-area{
    padding:30px 30px;
    max-width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-area input{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    border-radius:30px ;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 15px 80px;

}
.search-area button{
    border-radius:50px;
    border:none;
    outline:none;
    cursor: pointer;
    height:50px;
    width:50px;
}
.search-area button img{
    width: 20px;
}
.weather h1{
    margin-top: -10px;
    font-size:40px;
    font-weight:600;
    font-family: Roboto;
}
.weather h2{
    margin-top: 0px;
    font-size:40px;
    font-weight:600;
    font-family: Roboto;
}
.Info{
    display:flex;
    justify-content: space-between;
    align-content: center;
    padding: 30px 40px;
}
.col1{
    font-size: 15px;
    font-weight: 600;
    font-family: Roboto;
    display: flex;
    align-items: center;
}
.col1 img{
    width:50px;
    margin-right: 15px;
}
.col2{
    font-size: 15px;
    font-weight: 600;
    font-family: Roboto;
    display: flex;
    align-items: center;
}
.col2 img{
    width:50px;
    margin-right: 15px;
}
.weather{
    display:none;
}
.error{
    display:none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    padding:10px 35px;
    margin-top: -10px;
}